.login {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  background: url(/src/assets/new/bgnew.png) no-repeat 0 0/100%, #f6f6f6;

  .login-box {
    width: 100%;
    height: 564px;
    background: url(/src/assets/images/login-bg2.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .login-two {
    width: 100%;
    height: 1160px;
    background: url(/src/assets/images/login-bg.png) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: 680px;
    left: 0;
    z-index: 10;
  }

  .main-pic {
    background: url(/src/assets/bg3.png) 0 0 no-repeat;
    width: 750px;
    height: 512px;
    background-size: 100% 100%;
    position: absolute;
    top: 400px;
    left: 0;
    z-index: 1;
  }

  .nav-top {
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    .logo {
      width: 113px;
      height: 48px;
      background: url(/src/assets/tke.png) no-repeat left top/100% 100%;
    }

    .nav-right {
      display: flex;
      align-items: center;
      justify-content: center;

      .change-lan {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;

        span {
          margin: 0;
          font-family: PingFang SC, PingFang SC;
          font-weight: 400;
          font-size: 28px;
          color: #FFFFFF;
          line-height: 33px;
          margin-right: 10px;
        }

        .down {
          width: 28px;
          height: 28px;
          padding: 0;
          margin: 0;
        }
      }

      .play-music {
        .icon {
          width: 55px;
          height: 55px;
          padding: 0;
          margin: 0;
        }
      }
    }

    .icon-img {
      width: 20px;
      height: 20px;
    }
  }

  .banner {
    background: url(/src/assets/new/wel.png) no-repeat center 100px/644px;
    width: 750px;
    height: 500px;
    padding: 178px 0 0 0;

    &.en1 {
      background: url(/src/assets/entitle.png) no-repeat center 100px/900px;

      .line {
        margin: 30px auto 0;
      }
    }

    .banner-p {
      font-size: 62px;
      color: #Fff;
      font-weight: 800;
      text-align: center;
    }

    .line {
      width: 500px;
      height: 8px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
      margin: 0 auto;
    }

    .bg-two {
      background: url(/src/assets/bg3.png) 0 0 no-repeat;
      width: 750px;
      height: 512px;
      background-size: 100% 100%;
    }
  }
}

.form-info {
  background: url(/src/assets/title-bg3.png) no-repeat left top/710px, #fff;
  width: 710px;
  height: 956px;
  margin: 200px auto 0;
  padding: 60px 0 0 0;

  .top-p {
    font-size: 36px;
    color: #333333;
    font-weight: 800;
    width: 100%;
    text-align: center;
    padding: 0 10px 10px 10px;
  }

  .login-form {
    margin-top: 40px;

    .adm-list-item {
      border-radius: 10px;
      display: flex;
      align-items: center;
      // border:none;
    }
  }
}

.submit-btn {
  width: 340px;
  height: 120px;
  background: url('../../assets/btn-yellow.png') 0 0 no-repeat;
  background-size: 100% 100%;
  line-height: 100px;
  text-align: center;
  font-family: PingFang SC, PingFang SC;
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  margin: 36px auto 0;
  cursor: pointer;
}

.form-item {
  width: 630px;
  height: 88px;
  background: linear-gradient(90deg, rgba(255, 232, 215, 0.65) 0%, #FFFFFF 33%);
  border-radius: 8px;
  border: 0.5px solid rgba(255, 232, 215, 0.65);
  display: flex;
  align-items: center;
  margin: 24px auto 0;
  padding: 0 20px;

  .label {
    width: 200px;
    flex-shrink: 0;
    font-family: PingFang SC, PingFang SC;
    font-weight: 400;
    font-size: 28px;
    color: #333333;
  }

  .form-input {
    flex: 1;

    .ant-form-item {
      margin-bottom: 0 !important;

      span {
        margin-bottom: 0 !important;
      }

      .ant-input {
        border: none !important;
      }

      .ant-select-selector {
        border: none !important;
      }
    }
  }
}

.ant-dropdown-menu-item {
  span {
    margin: 0 !important;
  }
}



@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateBack {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.icon-img {
  transition: transform 0.3s ease-in-out;
}

.icon-img.rotated {
  animation: rotate 0.3s forwards;
}

.icon-img.not-rotated {
  animation: rotateBack 0.3s forwards;
}


.noddd {
  position: fixed;
  bottom: -100vh;
  left: -100vw;
}