$base-path: 'https://xs-image.pati.chat/static/h5/webpa/birthday/';

.heightline {
  width: 1px;
  height: 50px;
}

.pp2 {
  color: rgba(152, 77, 225, 1);
  font-size: 28px;
  padding: 0px 30px;
}

.rank-navs {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0 28px 0;

  .rank-nav {
    background: url(#{$base-path}titlt22.png) no-repeat left top/100%;
    width: 235px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    margin: 0 10px;

    &.active {
      background: url(#{$base-path}title21.png) no-repeat left top/100%;
    }
  }
}

.count-down-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;

  .dd {
    color: rgba(131, 123, 241, 1);
    font-weight: 500;
  }
}

.twice-navs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 700px;
  margin: 0 auto 24px;
  overflow-x: auto;
  white-space: nowrap;

  &.nav-center {
    justify-content: center;
  }

  .twice-nav {
    min-width: 120px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(152, 77, 225, 1);
    font-size: 24px;
    font-weight: 800;
    border-radius: 20px;
    padding: 0 18px;
    margin: 0 10px;
    background: rgba(241, 233, 255, 1);

    span {
      margin: 0 2px;
    }

    &.active {
      color: #fff;
      background: linear-gradient(180deg, #fd57ef 0%, #d461fd 100%);
    }
  }
}

.list-body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 716px;
  height: 184px;
  margin: 0 0 0 -10px;
  padding: 0 20px 6px 36px;

  &.user-self {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 190px;
    background: rgba(160, 134, 254, 1);
    border-radius: 30px 30px 0 0;
    box-sizing: border-box;
    margin: 0;
    z-index: 9;
    padding: 0 20px 6px 50px;
  }
}

.rank {
  width: 66px;
  height: 43px;
  white-space: nowrap;
}

.name {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.uid {
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  margin: 8px 0 0 0;
}

.score {
  flex: 1;

  .score-p {
    font-size: 30px;
    text-align: center;
    background: linear-gradient(180deg, #fdf2c2 0%, #e9a569 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Anton-Regular';
  }

  .p2 {
    font-size: 24px;
    color: #fff;
    font-weight: 400;
    text-align: center;
  }
}

.rank1 {
  background: url(#{$base-path}rankbg1.png) no-repeat left top/100%;

  .rank {
    background: url(#{$base-path}queen1.png) no-repeat center top/56px;
  }
}

.rank2 {
  background: url(#{$base-path}rankbg2.png) no-repeat left top/100%;

  .rank {
    background: url(#{$base-path}queen2.png) no-repeat center top/56px;
  }
}

.rank3 {
  background: url(#{$base-path}rankbg3.png) no-repeat left top/100%;

  .rank {
    background: url(#{$base-path}queen3.png) no-repeat center top/56px;
  }
}

.rankn {
  background: url(#{$base-path}rankbg4.png) no-repeat left center/704px 147px;
  margin: 0 0 0 -6px;

  .rank {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    color: #fff;
  }
}
