$base-path: 'https://xs-image.pati.chat/static/h5/webpa/birthday/';

.lottery-wrap {
  .disk {
    position: relative;
    height: 668px;
    width: 600px;
    margin: 30px auto;

    .disk-item {
      position: absolute;

      &.disk-item1 {
        top: 0;
        left: 0;
      }

      &.disk-item2 {
        top: 0;
        left: 200px;
      }

      &.disk-item3 {
        top: 0;
        right: 0;
      }

      &.disk-item4 {
        top: 220px;
        right: 0;
      }

      &.disk-item5 {
        bottom: 0;
        right: 0;
      }

      &.disk-item6 {
        bottom: 0;
        left: 200px;
      }

      &.disk-item7 {
        bottom: 0;
        left: 0;
      }

      &.disk-item8 {
        left: 0;
        top: 220px;
      }

      .disk-img-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 176px;
        height: 176px;
        margin-top: 10px;
        position: relative;

        .img-name {
          width: 240px;
          font-size: 20px;
          text-align: center;
          color: rgba(255, 45, 79, 1);
          line-height: 1.1;
          margin: 0 0 8px 0;
        }

        img {
          max-width: 120px;
          height: 100px;
          object-fit: cover;
        }
      }
    }

    .btn-lottery {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 192px;
      height: 193px;
      background: url('#{$base-path}main1.png') no-repeat center / contain;
      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
      z-index: 8;
      color: #fff;
      font-size: 30px;
      font-weight: 500;
      padding: 20px;

      &.lottery-dis {
        filter: grayscale(0.8);
        opacity: 0.8;
      }
    }
  }
}

.p4 {
  font-size: 24px;
  color: #fff;
  font-weight: 500;
  text-align: center;
  padding: 0 10px;
}

.my-ad {
  color: rgba(152, 77, 225, 1);
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  padding: 0 0 20px 0;
}

.cc-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 144px;

  .contain-img {
    background: url(#{$base-path}reward-bg.png) no-repeat left top/100% 100%;
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
  }

  .right-info {
    margin: 0 0 0 20px;
    flex: 1;

    .cc-name {
      color: rgba(152, 77, 225, 1);
      font-size: 28px;
      font-weight: 800;
      margin: 0 0 8px 0;
    }

    .cc-time {
      color: rgba(152, 77, 225, 1);
      font-size: 24px;
      font-weight: 800;
    }
  }
}

.couples {
  position: relative;
  width: 614px;
  height: 180px;
  margin: 30px auto 10px;

  .couple {
    color: rgba(152, 77, 225, 1);
    font-size: 24px;
    position: absolute;
    width: 90px;
    height: 180px;
    z-index: 1;

    .stage-card {
      position: relative;
      width: 86px;
      height: 90px;
      text-align: center;
      padding: 60px 0 0 0;

      &::before {
        content: '';
        width: 65px;
        height: 58px;
        background: url(#{$base-path}ques.png) no-repeat left top/100% 100%;
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .i {
      width: 44px;
      height: 49px;
      background: url(#{$base-path}star.png) no-repeat left top/100% 100%;
      margin: 0 auto;
    }

    .stage-num {
      text-align: center;
      white-space: nowrap;
    }

    // 5个间距
    // &.couple1 {
    //   top: 0px;
    //   left: 0;
    // }

    // &.couple2 {
    //   top: 0px;
    //   left: 22%;
    // }

    // &.couple3 {
    //   top: 0px;
    //   left: 44%;
    // }

    // &.couple4 {
    //   top: 0px;
    //   left: 66%;
    // }

    // &.couple5 {
    //   top: 0px;
    //   left: 88%;
    // }

    // 6个间距
    &.couple1 {
      top: 0px;
      left: 0;
    }

    &.couple2 {
      top: 0px;
      left: 17.6%;
    }

    &.couple3 {
      top: 0px;
      left: 35.2%;
    }

    &.couple4 {
      top: 0px;
      left: 52.8%;
    }

    &.couple5 {
      top: 0px;
      left: 70.4%;
    }

    &.couple6 {
      top: 0px;
      left: 88%;
    }
  }

  .contain-move {
    width: 608px;
    height: 8px;
    background: rgba(250, 233, 239, 1);
    border-radius: 12px;
    position: absolute;
    top: 110px;
    overflow: hidden;

    .move-precent {
      background: rgba(202, 70, 252, 1);
      position: absolute;
      top: 0;
      width: 608px;
      border-radius: 12px;
      height: 8px;
    }
  }
}

.next {
  text-align: center;
  padding: 10px 0;
  color: rgba(152, 77, 225, 1);
  font-size: 24px;
  font-weight: 500;
}
